# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

FinalGraficos1/\.vs/

FinalGraficos1/bin/

FinalGraficos1/FinalGraficos1/Obj/

FinalGraficos1/cosas que tengo que hacer\.txt
